@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		min-height: 100%;
		height: 100%;
		font-family: var(--font-open-sans), sans-serif;
		overflow-x: hidden;
	}

	body {
		min-height: 100vh;
		width: 100%;
		background-color: theme(colors.bg.DEFAULT);
		/* background-image: url('https://play.hbomax.com/default-3840x2160.png');
		background-attachment: fixed;
		background-size: cover; */
		color: #fff;
		overflow-x: hidden;
	}
	/* * {
		outline: 1px solid red;
	} */
}

@layer components {
	.wrapper {
		max-width: calc(100vw - 3rem);
		margin: 0 auto;
		width: 100%;
	}

	@screen sm {
		.wrapper {
			max-width: calc(100vw - 6rem);
		}
	}

	@screen xl {
		.wrapper {
			max-width: calc(100vw - 14rem);
		}
	}

	@screen 3xl {
		.wrapper {
			max-width: 1500px;
		}
	}

	.vignette {
		background-color: theme(colors.bg.DEFAULT / 5%);

		background: linear-gradient(
			0deg,
			theme(colors.bg.DEFAULT) 20%,
			theme(colors.bg.DEFAULT / 75%) 50%,
			theme(colors.bg.DEFAULT / 35%) 85%,
			theme(colors.bg.DEFAULT / 0%) 96%
		);
	}

	.vignette-top {
		background-image: linear-gradient(
			theme(colors.bg.DEFAULT / 24%),
			theme(colors.bg.DEFAULT / 24%) 2.45%,
			theme(colors.bg.DEFAULT / 23%) 4.91%,
			theme(colors.bg.DEFAULT / 22%) 7.36%,
			theme(colors.bg.DEFAULT / 20%) 9.81%,
			theme(colors.bg.DEFAULT / 18%) 12.27%,
			theme(colors.bg.DEFAULT / 16%) 14.72%,
			theme(colors.bg.DEFAULT / 13%) 17.18%,
			theme(colors.bg.DEFAULT / 10%) 19.63%,
			theme(colors.bg.DEFAULT / 8%) 22.08%,
			theme(colors.bg.DEFAULT / 5%) 24.54%,
			theme(colors.bg.DEFAULT / 3%) 26.99%,
			theme(colors.bg.DEFAULT / 2%) 29.44%,
			theme(colors.bg.DEFAULT / 1%) 31.9%,
			theme(colors.bg.DEFAULT / 0%) 36.81%
		);
	}

	.image-cover {
		position: absolute;
		inset: 0px;

		background-image: linear-gradient(
			theme(colors.bg.DEFAULT / 60%) 20%,
			theme(colors.bg.DEFAULT / 85%) 85%,
			theme(colors.bg.DEFAULT / 90%) 90%,
			theme(colors.bg.DEFAULT) 100%
		);
	}

	/* Scrollbar */
	.custom-scrollbar::-webkit-scrollbar,
	.dark-react-select__menu-list::-webkit-scrollbar {
		width: 1em;
	}

	.custom-scrollbar::-webkit-scrollbar-track,
	.dark-react-select__menu-list::-webkit-scrollbar-track {
		border-radius: 100vw;
		background: transparent;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb,
	.dark-react-select__menu-list::-webkit-scrollbar-thumb {
		border: 5px solid transparent;
		border-radius: 100vw;
		background: rgba(255, 255, 255, 0.6);
		background-clip: padding-box;
	}
	.custom-scrollbar::-webkit-scrollbar-thumb:hover,
	.dark-react-select__menu-list::-webkit-scrollbar-thumb:hover {
		background-color: rgba(255, 255, 255, 0.7);
	}

	/* react-select */

	.dark-react-select-container .dark-react-select__control {
		@apply rounded-xl border-2 border-white/5 bg-bg hover:border-white/30;
	}

	.dark-react-select-container .dark-react-select__control--is-focused {
		@apply border-white/5 shadow-none hover:border-white/10;
	}

	.dark-react-select-container .dark-react-select__menu {
		@apply min-w-max rounded-xl border-2 border-white/5 bg-bg;
	}

	.dark-react-select-container .dark-react-select__option {
		@apply min-w-max bg-bg  text-neutral-200 hover:bg-bg-hover;
	}

	.dark-react-select-container .dark-react-select__option--is-selected {
		@apply bg-bg-active  hover:bg-bg-active;
	}
	.dark-react-select-container .dark-react-select__multi-value {
		@apply overflow-hidden rounded-md bg-bg-active;
	}
	.dark-react-select-container .dark-react-select__multi-value__label {
		@apply bg-bg-active text-white/60;
	}
	.dark-react-select-container .dark-react-select__multi-value__remove {
		@apply text-white/80 hover:bg-red-300 hover:text-red-500;
	}

	.dark-react-select-container .dark-react-select__indicator-separator {
		@apply bg-white/20;
	}

	.dark-react-select-container .dark-react-select__dropdown-indicator,
	.dark-react-select-container .dark-react-select__clear-indicator {
		@apply text-white/30 hover:text-white/60;
	}

	.dark-react-select-container .dark-react-select__input-container,
	.dark-react-select-container .dark-react-select__placeholder,
	.dark-react-select-container .dark-react-select__single-value {
		@apply text-white/60;
	}

	/* Skeleton Loader */

	span.react-loading-skeleton {
		--base-color: #1f3038;
		--highlight-color: #384951;
	}
}

@layer utilities {
	.overflow-y-overlay {
		overflow-y: overlay;
	}

	.nav-margin {
		margin-top: 5rem;
	}
}

/* Item slider slick styles */

.items-slider:has(.slick-track:hover) .slick-arrow:not(.slick-arrow.slick-disabled),
.items-slider .slick-arrow:hover {
	opacity: 1;
	visibility: visible;
}
.items-slider .slick-list {
	overflow: visible;
}
.items-slider .slick-list .slick-track {
	margin: 0;
}

.items-slider .slick-list .slick-slide {
	padding-right: 16px;
	opacity: 0.4;
	pointer-events: none;
}
.items-slider .slick-list .slick-slide.slick-active {
	pointer-events: all;
	opacity: 1;
}
.items-slider .slick-arrow {
	width: calc(2rem);
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
	opacity: 0;
	visibility: hidden;
	transform: translateX(100%);
	transition: opacity 0.3s;
	z-index: 20;
}
.items-slider .slick-arrow.slick-prev {
	left: 0;
	right: unset;
	transform: translateX(-100%);
}
.items-slider .slick-arrow.slick-disabled {
	opacity: 0;
	visibility: hidden;
}
@screen sm {
	.items-slider .slick-arrow {
		width: calc(3rem);
	}
}
@screen xl {
	.items-slider .slick-arrow {
		width: calc(7rem);
	}
}
@screen 3xl {
	.items-slider .slick-list {
		overflow: hidden;
	}
}

/* Hero slider */

.hero-slick-pagination .slick-active button {
	background-color: #fff;
}
